.valueRow {
    margin-bottom: 5px;
}


/* .tabResourceSelector .MuiListItemText-root-157:not(:last-of-type) { text-align:right; } */
/* .tabResourceSelector .MuiListItemText-root-157 + .MuiListItemText-root-157 { text-align:left; } */
.tabResourceSelector .individualView .prefLabel { flex: 10 1 auto ; margin-left:10px; }
.tabResourceSelector .individualView .prefLabel .individualView { line-height:1.0; }
.tabResourceSelector .individualView ul li > :first-child { flex: 1 10 auto ;  text-align:left; }

.inDivHeading { display:flex; align-items: center; justify-content: space-between; width:100%; }
.inDivHeading > div:last-child { margin:0 15px; font-size:20px; text-align:right; }

.IndividualHeading h1 { margin-top:0 !important; }


/* .individualView { flex:none !important; } */
.individualView ul ul li { flex-grow:1; } 
.individualView ul ul > div { display:flex; }
li.noPad { padding-right:0; }

/* LiteralView */
/* .literalView { flex:none !important; } */
.literalView > div:first-child:last-child { width:calc(100% - 20px); }


.plusBut,.remoBut { position:relative !important; margin-top:10px !important;display:flex;align-items:top;right:0 !important;} 
/* .remoBut.ind { margin-right:24px; } */

.Pane2 .individualView > ul { display:flex; }
.Pane2 .individualView > ul > li { flex-grow:1; }