.valueRow {
    margin-bottom: 5px;
}


/* .tabResourceSelector .MuiListItemText-root-157:not(:last-of-type) { text-align:right; } */
/* .tabResourceSelector .MuiListItemText-root-157 + .MuiListItemText-root-157 { text-align:left; } */
.tabResourceSelector .individualView .prefLabel { flex: 10 1 auto ; margin-left:10px; }
.tabResourceSelector .individualView ul li > :first-child { flex: 1 10 auto ;  text-align:left; }

/* .prefLabel  */
.literalView { line-height:1.1 !important; }

.inDivHeading { display:flex; align-items: center; justify-content: space-between; width:100%; }
.inDivHeading > div:last-child { margin:0 15px; font-size:20px; text-align:right; }

.IndividualHeading h1 { margin-top:0 !important; }


/* .individualView { flex:none !important; } */
.individualView ul ul li { flex-grow:1; }
.individualView ul ul > div { display:flex; }
li.noPad { padding-right:0; }

/* LiteralView */
/* .literalView { flex:none !important; } */
.literalView > div:first-child:last-child { width:calc(100% - 20px); }

button.removeButton { height:36px;}
.plusBut,.remoBut { position:relative !important; margin-top:0px !important;display:flex;align-items:center;right:0 !important;}
/* .remoBut.ind { margin-right:24px; } */

.Pane2 .individualView > ul, .inCollapse > div > div > div,
.individualView ul li { display:flex; }
.Pane2 .individualView > ul > li, .inCollapse > div  { flex-grow:1; }


.RDFCompo > ul > li { padding:0; }
.RDFCompo > ul > li > div > div { padding:12px 16px 12px 16px !important; }


.inCollapse:not(.true) > * { display:none ; }
