.valueRow {
    margin-bottom: 5px;
}


/* .tabResourceSelector .MuiListItemText-root-157:not(:last-of-type) { text-align:right; } */
/* .tabResourceSelector .MuiListItemText-root-157 + .MuiListItemText-root-157 { text-align:left; } */
.tabResourceSelector .individualView ul div[tabindex] { justify-content:space-between;}
.tabResourceSelector .individualView ul div[tabindex] > * { flex-basis:auto; min-width:auto; }
.tabResourceSelector .individualView .prefLabel {  margin-left:10px; }
.tabResourceSelector .individualView ul li > :first-child { text-align:left; }

/* .prefLabel  */
.literalView { line-height:1.1 !important; display:flex;align-items: flex-end;}

.inDivHeading { display:flex; align-items: center; justify-content: space-between; width:100%; position:relative; }
.inDivHeading > div:last-child { margin:0 15px; font-size:20px; text-align:right; }

.IndividualHeading h1 { margin-top:0 !important; }

.inDivHeading .loader { top:0 ; }

/* .individualView { flex:none !important; } */
.individualView ul ul li { flex-grow:1; }
.individualView ul ul > div { display:flex; }
li.noPad { padding-right:0; }

/* .ListItemNoSec > span + p:last-child { display:none; } */
.ListItemInline { display:inline-block !important;}
.ListItemInline + li:last-child {  }
.isEditable .encaps.ListFlex,.ListFlex { display:flex !important; }

.individualView >  ul > div { padding:0 }

/* LiteralView */
/* .literalView { flex:none !important; } */
.literalView > div:first-child:last-child { width:calc(100% - 20px); }

button.removeButton { height:46px; width:24px;height:24px;margin-top:-24px;}
.plusBut,.remoBut { position:relative !important; margin-top:0px !important;display:flex;align-items:center;right:0 !important;transform:none !important;top:0!important;}
/* .remoBut.ind { margin-right:24px; } */
.encaps > li > div { transform:none; }


.Pane2 .individualView > ul, .inCollapse > div > div > div,
.individualView ul li { display:flex; }
.Pane2 .individualView > ul > li, .inCollapse > div  { flex-grow:1; }


.RDFCompo > ul > li { padding:0; }
.RDFCompo > ul > li > div > div { padding:12px 16px 12px 16px !important; }


.inCollapse:not(.nohide):not(.true) > * { display:none ; }

.isEditable .inCollapse.nohide { padding-left:15px; }
.isEditable .inCollapse.nohide.true { margin-bottom:25px; padding-left:15px; }

.isEditable .inCollapse:not(.nohide).true { margin-left:0 !important; }

.individualView.opentrue {  box-shadow: 5px 0 5px -4px rgba(0,0,0,0.2); margin-bottom:10px;  }

.isEditable .encaps { display:block !important;  box-shadow: -5px 0 5px -4px rgba(0,0,0,0.2);   /*margin:20px 5px!important; */ padding:0 0 10px 5px !important;}

.individualView:not(.isEditable) > div:last-child { margin-left:35px;  }

.tabResourceSelector .individualView .prefLabel { text-align:right;}

.Tabs { display:flex;align-items:center;justify-content: space-between;}
