.graphPreview {
    overflow: auto;
    white-space: pre;
    font-family: "consolas", "menlo", "Bitstream Vera Sans Mono", "Courier 10 Pitch","Nimbus Mono L", Monaco, "Courier New", Courier, "OCR A Extended", "DejaVu Sans Mono","Lucida Console", monospace;
}